apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp-blue
  labels:
    app: webapp
    color: blue
spec:
  replicas: 3
  selector:
    matchLabels:
      app: webapp
      color: blue
  template:
    metadata:
      labels:
        app: webapp
        color: blue
    spec:
      containers:
      - name: webapp
        image: emon110852/webapp:v1
        env:
        - name: APP_VERSION
          value: "v1"
        ports:
        - containerPort: 3000
        readinessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 2
          periodSeconds: 3
        livenessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 10
          periodSeconds: 10
