apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp-green
  labels:
    app: webapp
    color: green
spec:
  replicas: 3
  selector:
    matchLabels:
      app: webapp
      color: green
  template:
    metadata:
      labels:
        app: webapp
        color: green
    spec:
      containers:
      - name: webapp
        image: emon110852/webapp:v2
        env:
        - name: APP_VERSION
          value: "v2"
        ports:
        - containerPort: 3000
        readinessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 2
          periodSeconds: 3
        livenessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 10
          periodSeconds: 10
